stepfunctions/DQ_Evaluate_Rulesets.json
{
    "Comment": "Run Glue ETL to Evaluate Rulesets against a Batch of Data Sources",
    "StartAt": "DQ_Evaluate_Rulesets",
    "States": {
      "DQ_Evaluate_Rulesets": {
        "Type": "Task",
        "Resource": "arn:aws-us-gov:states:::glue:startJobRun.sync",
        "Parameters": {
          "JobName": "dtl-prd-SMPL0-DQ_Evaluate_Rulesets",
          "Arguments": {
            "--ProcessParms.$": "States.JsonToString($$.Execution.Input)"
          }
        },
        "Next": "Batch_Status_Check"
      },
      "Batch_Status_Check": {
        "Type": "Task",
        "Resource": "arn:aws-us-gov:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "arn:aws-us-gov:lambda:us-gov-west-1:{aws_acct}:function:{env_prefix}-Batch_Status_Check",
          "Payload.$": "$$.Execution.Input"
        },
        "Next": "Batch_Notify",
        "Retry": [
          {
            "ErrorEquals": [
              "CustomError"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 2,
            "BackoffRate": 2
          }
        ]
      },
      "Batch_Notify": {
        "Type": "Task",
        "Resource": "arn:aws-us-gov:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "arn:aws-us-gov:lambda:us-gov-west-1:{aws_acct}:function:{env_prefix}-Batch_Notify",
          "Payload.$": "$$.Execution.Input"
        },
        "End": true
      }
    }
  }
